@charset "UTF -08";

*{
    margin: 0px;
    padding: 0px;
}

 /* cabeçalho  */

header{
   background-color: black;
   padding: 20px;
}

h1{
    color: white;
}
/* conteudo */
.conteine{
    margin-top: 20px;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteine > div{
    display: inline-block;
    width: 550px;
}

.conteine > div > img{
    max-width: 100%;
}

h2{
    margin: 20px 0px;
}

main > .conteine > div {
    margin-right: 15px;
    text-align: justify;
    font-size: 18px;
} 

#fundo_preto{
    background-color: black;
    color: white;
    padding: 50px 0px;
}
#fundo_preto > div > img{
    margin-top: 20px;
    
    
}

main > .conteine > div > p{
    margin-left: 16px;
    margin-right: 16px;
}

main > .conteine > div > h2{
    margin-left: 12px;
}

#fundo_preto > div p,h2{
    /* margin-left: 30px; */
}

button{
    background-color: black;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 4px;
    font-size: 15px;
    
}



button > a{
    color: white;
    text-decoration: none;
}

/* rodape */
footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer > p > a{
    color: white;
    text-decoration: none;
}